@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 300;
  background-color: #FFFFFF;
}

#uberbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 64px;
    padding: 0px;
    border-bottom: 1px solid #333333;
    background-color: #E4E3E4;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    z-index: 5;
}

#uberbar > #uberlogo {
    float: left;
    padding: 18px;
}

#uberbar > #menubutton {
    float: right;
    padding: 8px 32px;
    cursor: pointer;
}

#titlebar {
    position: fixed;
    left: 0px;
    top: 64px;
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0px 2px 4px #cccccc;
    text-align: center;
    text-transform: uppercase;
}

#titlebar > h1 {
    padding: 16px;
}

#titlebar > a {
    position: fixed;
    right: 16px;
    top: 80px;
}

#content {
    width: 100%;
    min-height: 1000px;
    margin: 136px 16px 0 0;
}

#menu {
    position: fixed;
    left: 0px;
    top: -50%;
    width: 100%;
    height: 50%;
    background-color: #222222;
    background-image: url('../images/ulogo.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #eeeeee;
    -moz-transition: top 0.5s ease-in;
    -webkit-transition: top 0.5s ease-in;
    -o-transition: top 0.5s ease-in;
    -ms-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in;
    text-transform: uppercase;
    z-index: 4;
}

#menu.selected {
    top: 64px;
    -moz-transition: top 0.5s ease-out;
    -webkit-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    -ms-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
}

#menu > ol {
    list-style: none;
    padding: 0px;
}

#menu > ol > li {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #222222;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

#menu > ol > li:hover {
    background-color: #eeeeee;
}

#menu > ol > li:hover > a {
    color: #222222;
}

#menu > ol > li > a {
    display: block;
    padding: 16px;
    color: #eeeeee;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s;
}

#sectionbar {
    display: table;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 128px;
    padding: 8px;
    background-color: #ffffff;
    box-shadow: 0px -2px 4px #cccccc;
    text-transform: uppercase;
}

#sectionbar > ol {
    display: table-row;
    list-style: none;
    width: 100%;
}

#sectionbar > ol > li {
    display: table-cell;
    float: left;
    width: auto;
    margin: auto;
    color: #000000;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s;
}

#sectionbar > ol > li:hover,
#sectionbar > ol > li.selected {
    color: #00a631;
}

#sectionbar > span {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

header, section, footer {
  display: block;
}

a {
  color: #069;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0 20px;
  margin: 0 0 20px;
  line-height: 1.2;
}

p, ul, ol, table, pre, dl {
    padding: 0 20px;
  margin: 0 0 20px;
}

p {
    margin: 10px 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3 {
    clear: both;
}

h3, h4, h5, h6 {
  color: #494949;
}

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  max-width: 100%;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
  overflow-x: auto;
}

pre {
  padding: 20px;
  background: #3A3C42;
  color: #f8f8f2;
}
pre code {
  color: #f8f8f2;
}
li pre {
  margin-left: -60px;
  padding-left: 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

