<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{page.title}}</title>
        
        <link rel="stylesheet" href="/multitransport-jsonrpc/stylesheets/styles.css">
        <link rel="stylesheet" href="/multitransport-jsonrpc/stylesheets/pygment_trac.css">
        <script>
            window.onload = function() {
                // Toggle the menu up/down
                document.getElementById('menubutton').onclick = function() {
                    document.getElementById('menu').classList.toggle('selected');
                };
                // Fix the CSS for the section list at the bottom
                var sectionCount = document.getElementById('sectionlist').childElementCount;
                var sectionCss = document.createElement('style');
                sectionCss.setAttribute('type', 'text/css');
                sectionCss.setAttribute('media', 'screen');
                sectionCss.appendChild(document.createTextNode('#sectionbar > ol > li { width: ' + parseInt(100/sectionCount) + '%; }'));
                document.getElementsByTagName('head')[0].appendChild(sectionCss);
                // Get list of section ids for section list
                var sections = Array.prototype.filter.call(document.getElementById('sectionlist').childNodes, function(child) {
                    return child.nodeType === 1;
                }).map(function(listChild) {
                    return {
                        section: document.getElementById(listChild.firstElementChild.hash.replace(/^#/, '')),
                        name: listChild.firstElementChild.firstChild.data,
                        center: listChild.offsetLeft + (listChild.offsetWidth / 2)
                    };
                });
                // Build the CSS rules for the car circle to travel to
                var carCircleCss = document.createElement('style');
                carCircleCss.setAttribute('type', 'text/css');
                carCircleCss.setAttribute('media', 'screen');
                var carCircleCssString = '';
                for(var i = 0; i < sections.length; i++) {
                    carCircleCssString += '.section' + i + ' { left: ' + (sections[i].center - 25) + 'px; }\n';
                }
                carCircleCss.appendChild(document.createTextNode(carCircleCssString));
                document.getElementsByTagName('head')[0].appendChild(carCircleCss);
                // Add the logic to determine where the car circle should be
                function setCarCircleLocation() {
                    var carCircle = document.getElementById('highlightedSection');
                    var titleText = document.getElementById('titletext');
                    for(var i = 0; i < sections.length; i++) {
                        if(sections[i].section.offsetTop >= window.scrollY - 128 && sections[i].section.offsetTop < window.scrollY + window.innerHeight - 128) {
                            carCircle.className = 'section' + i;
                            titleText.innerHTML = sections[i].name;
                            break;
                        }
                    }
                };
                window.onscroll = setCarCircleLocation;
                setCarCircleLocation();
            };
        </script>
        
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="menu">
            <ol>
                <li><a href="/multitransport-jsonrpc/">Home</a></li>
                {% for post in site.posts %}
                <li><a href="/multitransport-jsonrpc{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div id="uberbarbg"></div>
        <div id="uberbar">
            <a href="http://uber.com" id="uberlogo"><img src="/multitransport-jsonrpc/images/uberlogo.png" alt="Uber Logo"></a>
            <img src="/multitransport-jsonrpc/images/navmenu.png" alt="Navigation Menu Button" id="menubutton">
        </div>
        <header id="titlebar">
            <h1 id="titletext">{{ page.title }}</h1>
            <a href="https://github.com/uber/multitransport-jsonrpc"><img src="/multitransport-jsonrpc/images/github.png" alt="GitHub Project Link"></a>
        </header>
        <section id="content">
            {{content}}
        </section>
        <footer id="sectionbar">
            <ol id="sectionlist">
                {% for section in page.sections %}
                <li><a href="#{{section.id}}">{{section.name}}</a><div class="line"></div><div class="circle"></div></li>
                {% endfor %}
            </ol>
            <div id="highlightedSection">
                <div id="innerCircle"></div>
            </div>
            <span>Copyright 2013 Uber Technologies, Inc</span>
        </footer>
    </body>
</html>